{% extends 'base.html' %}

{% load bootstrap4 %}
{% load icons %}
{% load static %}
{% load rating_extras %}
[% load form %}

{% block title %}Profile page{% endblock %}


{% block content %}

<h1>Give rating</h1>

<table class="table table-bordered table-striped">
    <tr>
        <th>Project name</th>
        <td>{{project.title}}</td>
    </tr>
</table>

{% if rating_needed %}

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary float-left">Submit rating</button>
</form>

{% else %}

<p>rating completed.</p>

{% endif %}


{% endblock %}