{% extends 'base.html' %}

{% load bootstrap4 %}
{% load icons %}
{% load static %}
{% load rating_extras %}

{% block title %}Profile page{% endblock %}


{% block content %}

<h1>Profile</h1>

<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <td>{{profile.user.username}}</td>
    </tr>
    <tr>
        <th>Overall rating</th>
        <td>
            {% star_rating overall_rating %}
        </td>
    </tr>
    
</table>

<h2 class="col-lg text-center mt-5">Search previous projects</h2>
{% include "projects/search_box.html"%}

<div id="search_results">
  {% include "projects/profile_search_results.html" %}   
</div>

<h2 class="col-lg text-center mt-5">List of freelancers</h2>

{% if freelancers %}
<p>The user has worked with the following freelancers:</p>
<table class="table table-bordered table-striped">
  <tr>
      <th>Username</th>
      <th>Contact</th>

  </tr>
  {% for f in freelancers %}
    <tr>
        <td><a href="{% url 'profile' user_id=f.user.pk %}">{{f.user}}</a></td>
        <td>{{f.user.email}}</td>
    </tr>
  {%endfor%}
{% else %}
<p>No freelancers found</p>
{% endif %}

<script src="{% static 'js/search.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      

{% endblock %}
