{% load icons %}
{% load bootstrap4 %}
{% load static %}
{% load rating_extras %}


{% if results %}
<div class="dropdown show">
  <a class="btn btn-default dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"       aria-expanded="false">Sort by
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="{{search_url}}&sort=price_asc">Budget ascending</a>
    <a class="dropdown-item" href="{{search_url}}&sort=price_des">Budget descending</a>
    <a class="dropdown-item" href="{{search_url}}&sort=tasks_asc">Number of tasks ascending</a>
    <a class="dropdown-item" href="{{search_url}}&sort=tasks_des">Number of tasks descending</a>
    <a class="dropdown-item" href="{{search_url}}&sort=finished">Date finished</a>
    <a class="dropdown-item" href="{{search_url}}&sort=dur_asc">Duration ascending</a>
    <a class="dropdown-item" href="{{search_url}}&sort=dur_des">Duration descending</a>


  </div>  
</div>
<div class="row">
  <div class="col-lg text-center">
    <div class="row projects-view">
      {% for project in results %}    
        <a class="open-project-view-item" href="{% url 'project_view' project_id=project.id %}">        
          <div class="col-md mb-3 ml-3 mr-3 mt-3 project-box-style">
            <div class="media">
              <img class="align-self-top mr-3 mt-5 project-image" src="{% static 'img/idea.jpg' %}" alt="Generic placeholder image." />
              <div class="media-body">
                <h5 class="mt-3"> {% icon 'tasks' %} {{project.title}}</h5>
                {{ stars_dict|get_item:project.pk }}
                <p></p>
                <p class="project-description">{{desc_dict|get_item:project.pk}}</p>
                <p>Date finished: {{project.date_finished}}</p>
                <p>Duration: {{ project.date_started|timesince:project.date_finished }}</p>
            </div>
            </div>
          </div>
        </a>
       {% endfor %}
    </div>
  </div>
</div>

{% else %} 
  <p>No previous projects found</p>
{% endif %}
