{% load icons %}
{% load bootstrap4 %}
{% load static %}
{% load rating_extras %}


{% if results %}
<div class="dropdown show">
  <a class="btn btn-default dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"       aria-expanded="false">Sort by
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="{{search_url}}&sort=price_asc">Price ascending</a>
    <a class="dropdown-item" href="{{search_url}}&sort=price_des">Price descending</a>
    <a class="dropdown-item" href="{{search_url}}&sort=tasks_asc">Number of tasks ascending</a>
    <a class="dropdown-item" href="{{search_url}}&sort=tasks_des">Number of tasks descending</a>
    <a class="dropdown-item" href="{{search_url}}&sort=location">Location</a>
    <a class="dropdown-item" href="{{search_url}}&sort=deadline">Deadline</a>
  </div>  
</div>
<div class="row">
  <div class="col-lg text-center">
    <div class="row projects-view">
      {% for project in results %}    
        <a class="open-project-view-item" href="{% url 'project_view' project_id=project.id %}">        
          <div class="col-md mb-3 ml-3 mr-3 mt-3 project-box-style">
            <div class="media">
              <img class="align-self-top mr-3 mt-5 project-image" src="{% static 'img/idea.jpg' %}" alt="Generic placeholder image." />
              <div class="media-body">
                <h5 class="mt-3"> {% icon 'tasks' %} {{project.title}}</h5>
                <a href="{% url 'profile' user_id=project.user.pk  %}">
                    <p>Posted by: {{project.user.user.username}} </p></a>
                <p> {% star_rating project.user.user.ratings %} </p>
                <p>{{project.description}}</p>
                <!--<p>Location: {{project.location}}</p>-->
                <p>Category: {{project.category}}</p>
                <p>Budget: {{project.total_budget}} NOK</p>
                <!--<p>Tasks: {{project.num_tasks}}</p>-->
                <p>Deadline: {{project.deadline}}</p>
              </div>
            </div>
          </div>
        </a>
       {% endfor %}
    </div>
  </div>
</div>
{% else %} 
  <p>No projects found. Please revise search</p>
{% endif %}


