{% load icons %}
{% load bootstrap4 %}
{% load static %}


<div class="row">
  <div class="col-lg text-center">
    <form method="GET" id="search_form" onsubmit="clean()">  
      <div class="input-group">
        <input id="searchbar" type="text" class="form-control" placeholder="Search for projects" name='q' value="{{request.GET.q}}"}>
          <div class="input-group-append">
            <button class="btn btn-secondary"><i class="fa fa-search"></i></button>
          </div>
        </div>  
      <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#adv_search_collapse"                aria-expanded="false" aria-controls="adv_search_collapse">Advanced Search</button>        
      <div class="collapse text-left" id="adv_search_collapse">
        <div class="card card-body">
          <div class="form-group">
            <label for="filter">Category</label>
            <select id="chosen_category" class="form-control" name="category">
              <option disabled selected value> --- Select Category --- </option>
                {% for project_category in project_categories %}
                 <option>{{project_category}}</option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="contain">Location</label>
            <input type="text" class="form-control" placeholder="Specify location" name="location"/>
          </div>
          <div class="form-group">
            <label for="contain">Budget range (NOK)</label>
            <div class="form-row">
              <div class="col">
                <input name="from" id="price_from" min=0 type="number" step="1" class="form-control" placeholder="Price from"/>
              </div>
              <div class="col">
                <input name="to" id="price_to" min=0 type="number" step="1" class="form-control" placeholder="Price to"/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-secondary" id="search_btn">Search</button>      
          </div>
        </div>
      </div>
    </form>
  </div>
</div>