{% extends 'base.html' %}
{% load static %}

{% block title %}Open Projects{% endblock %}

{% block content %}
<h2 class="col-lg text-center mt-5">Open Projects <img class="ml-1 honey" src="{% static 'img/honeybee.png' %}"  alt="Image of a honeybee."></h2>
{% include "projects/search_box.html" %}   

<div id="search_results">
  {% include "projects/search_results.html" %}   
</div>

<script src="{% static 'js/search.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

{% endblock %}


